* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

body {
    background-color: #ffffff;
    color: #c6a274;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

.main {
    min-height: 100vh;
}

.fotos {
    height: 250px;
}

.fots1 {
    height: 240px;
    width: 240px;
}

.logo {
    width: 300px;
}

.div {
    display: flex;
    flex-direction: row;
}

.div1 {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    margin-left: 3rem;

}

.titulod {
    font-size: 23px;
}

.titulod1 {
    font-size: 18px;
}

.header {
    position: fixed;
    width: 100%;
    z-index: 1001;
    max-height: 220px;
    background-color: white;
    color: #c6a274;

}

.titulopf {
    font-size: 25px;
    ;
}
.titulopreguntas{
    text-align: center; padding-top: 1rem;}

.titulopf1 {
    font-size: 21px;
}

.parrafopf {
    font-size: 13px;
    line-height: 3rem;
}

.titulopf3 {
    font-size: 25px;
    font-weight: 700;
}

.main3 {
    display: flex;
    padding-top: 15rem;
    flex-direction: column;
    max-width: 1000px;
    padding-left: 3rem;
    min-height: 100vh;
}

.main4 {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;;
    min-height: 100vh;
    padding-left: 4rem;
}
.main5 {
    padding-top: 17rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-left: 4rem;
}
.form {
    display: flex;
    flex-direction: column;
}

.form1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form2 {
    padding-top: 1rem;
    padding-left: 12rem;
    padding-bottom: 1rem;
    padding-right: 12rem;
    border: 1px solid #f6f1ea;
    text-align: start;
}

.form3 {
    padding-top: 1rem;
    padding-left: 12rem;
    padding-bottom: 1rem;
    padding-right: 12rem;
    background-color: #c6a274;
    color: #f9f5f0;
    display: block;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.fotos1 {
    width: 530px;
    height: auto;
}

.fotos2 {
   gap:2 rem;
   padding-top: 5px;
    width: 600px;
    height: 600px;
}

.enlaces {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-left: 18rem;
}

.headerdiv {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.enlaces2 {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.nav1 {
    margin: 1rem;
}

.nav2 {
    margin: 6px
}

.main1 {
    padding-top: 11rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-right: 1rem;
    min-height: 100vh;
    color: #c6a274;
}

.barra-superior {
    background-color: #c6a274;
    color: #f9f5f0;
    text-align: center;
    justify-content: flex-start;
}

.seccion1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    max-width: 100%;
    min-height: 500px;
    flex-wrap: wrap;
    gap: 1rem;
}

.seccion11 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

div.texto {
    display: flex;
    flex-direction: column;
}

.div-ropa {
    width: 20%;
    margin-right: 1rem;
    text-align: center;
}

.div-ropa1 {
    width: 20%;
    margin-right: 1rem;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.div-ropa3 {
    width: 20%;
    margin-right: 1rem;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.divcreciendo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto-creciendo {
    color: #c6a274;
    font-size: 18px;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    max-width: 700px;
}

.titulo-creciendo {
    font-size: 2rem;
    text-align: center;
}

.cuotas {
    font-size: 16px;
    text-align: center;
    margin: 9px;
    border: 1px solid #f6f1ea;
}

.precio {
    font-size: 15px;
    font-weight: 1000;
    text-align: center;
}

.precio1 {
    font-size: 20px;
    font-weight: 1000;
    text-align: center;
}

.detalle {
    font-size: 12px;
    text-align: center;
}

.detalle1 {
    font-size: 15px;
    text-align: center;
}

.boton1 {
    display: inline-block;
    background-color: #c6a274;
    color: #f9f5f0;
    font-size: 11px;
    text-decoration: none;
    padding-top: 5px;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 5px;
    text-transform: uppercase;
    margin-bottom: 1rem;
    letter-spacing: 2px;
}

.boton-todo {
    display: inline-block;
    background-color: #c6a274;
    color: #f9f5f0;
    font-size: 11px;
    text-decoration: none;
    padding-top: 5px;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
}


.fcompleta {
    width: 500%
}

.section2 {
    margin-top: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    max-width: 100%;
    gap: 5rem;
}

.section3 {
    margin-top: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    max-width: 100%;
    gap: 5rem;
}

.titulo-quienessomos {
    font-size: 2rem;
    text-align: start;
}

.parrafo-1 {
    text-align: start;
    font-size: 18px;
    max-height: 100px;
}

.main2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 15rem;
}

.dis-footer {
    margin-top: 4rem;
    background-color: #c6a274;
    color: #f9f5f0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 300px;
    padding-top: 2rem;
}

.enlaces-footer {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-decoration: none;
}

.titulofooter {
    font-weight: 700;
}

.fotos-tarjeta {
    width: 50px;
}

.flextarjeta {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 350px;
    min-height: 100px;
    flex-wrap: wrap;
    list-style: none;
    gap: 5px;
}

.generaldiv {
    display: flex;
    flex-direction: column;
}

.logofooter {
    width: 70px;
}

.boton {
    display: inline-block;
    background-color: #c6a274;
    color: #fff;
    font-size: 11px;
    text-decoration: none;
    padding-top: 5px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 5px;
    text-transform: uppercase;
    margin-bottom: 1rem;
    letter-spacing: 2px;
    font-family: sans-serif;
}
.carousel-inner{padding-top:3rem; }


@media (max-width: 600px) {
    .seccion11 {
        flex-wrap: wrap;
        align-content: space-around;
        margin: 1rem;
        gap: 4rem;
        padding: 0;

    }

    .detalle1 {
        font-size: 12px;
        text-align: center;
        white-space: pre-line;
        width: 130px;
    }

    .cuotas {
        font-size: 13px;
        text-align: center;
        margin: 9px;
        border: 1px solid #f6f1ea;
        white-space: pre-line;
        width: 130px;

    }

    .precio {
        font-size: 10px;
        font-weight: 1000;
        text-align: center;
    }

    .fcompleta {
        width: 100%;
    }

    .titulo-quienessomos {
        align-items: center;
    }

    .fotos1 {
        margin-top: 2rem;
        width: 100%;
        object-fit: contain;
        height: auto;
    }

    .section2 {
        flex-direction: column;
        gap: 0;
        margin-top: 0%;
        justify-content: center;
        align-items: center;
        max-width: max-content;
    }

    .titulo-quienessomos {
        text-align: center;
        white-space: normal;
        width: 300px;

    }

    .parrafo-1 {
        text-align: center;
        box-sizing: content-box;
        max-width: max-content;
    }

    .headerdiv {
        flex-direction: column;
        justify-content: center;
        align-items: content;
    }

    .section3 {
        flex-direction: column-reverse;
        gap: 0;
        margin-top: 0%;
        justify-content: center;
        align-items: center;
        max-width: max-content;
    }

    .logo {
        height: 6rem;
        width: auto;
    }


    .precio1 {
        font-size: 15px;
        font-weight: 1000;
        text-align: center;
    }

    .detalle {
        font-size: 10px;
        text-align: center;
    }




    .fotos2 {
        width: 320px;
        height: max-content;
        padding-bottom: 1rem;
    }

    .main1 {
        flex-direction: column;
        align-items: flex-start;
    }

    .fotocompleta {
        max-width: 100%;
        margin-bottom: 0%;
    }

    .headerdiv {
        width: 100%;
    }

    .texto-creciendo {
        padding-right: 2rem;
        padding-left: 2rem;

    }

    .div-ropa1 {
        flex-direction: column;
        margin-left: 1rem;
        margin-right: 1rem;

    }

    .div-ropa {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70%;
        margin-bottom: 13rem;
    }

    .main1 {
        flex-direction: column;
        align-items: center;
        justify-content: center
    }

    .fots1 {
        width: 130px;
        height: 130px;
        display: inline-block;
        padding-top: 0;
        margin-top: 0;
    }

    .detalle1 {
        font-size: 13px;

    }

    img {
        width: 100%;
        object-fit: cover;
    }

    .dis-footer {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 1rem;
        padding-right: 1rem;
        flex-direction: column;
        height: 600px;
    }

    .main3 {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .parrafopf {
        font-size: 12px;
        line-height: 2rem;
    }

    .boton {
        display: inline-block;
        background-color: #c6a274;
        color: #fff;
        font-size: 10px;
        text-decoration: none;
        padding-top: 5px;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 5px;
        text-transform: uppercase;
        margin-bottom: 1rem;
        letter-spacing: 2px;
        font-family: sans-serif;
        width: 130px;
        white-space: pre-wrap;
        text-align: center;
    }

    .boton-todo {
        display: inline-block;
        background-color: #c6a274;
        color: #f9f5f0;
        font-size: 11px;
        text-decoration: none;
        padding-top: 5px;
        padding-left: 4rem;
        padding-right: 4rem;
        padding-bottom: 5px;
        text-transform: uppercase;
        letter-spacing: 2px;
        white-space: pre;
        width: 300px;
    }

    .logofooter {
        width: 200px;
        padding-left: 6rem;
    }

    .flextarjeta {
        width: 300px;
    }
    .barra-superior{font-size: 12px;}
    .titulo-quienessomos{padding-top: 1rem;}
}

@media (max-widht: 1023px) {

    .boton {
        background-color:
            green;
    }
}

@media (max-widht: 600px) {}